// MARGINS AND PADDINGS
@for $i from 1 through 3 {
    .mt-#{$i} {
    margin-top: 1em * $i;
    }
}
@for $i from 1 through 4 {
    .padding-#{$i} {
    padding: 1em * $i;
    }
}
@for $i from 1 through 3 {
    .pt-#{$i} {
    padding-top: 1em * $i;
    }
}
@for $i from 1 through 3 {
    .pb-#{$i} {
    padding-bottom: 1em * $i;
    }
}
// FLEX LAYOUT UTILITIES
.flex{
    display: flex;
    justify-content: space-between;
}
.row-reverse{
    flex-direction: row-reverse;
}
.flex-start{
    justify-content: flex-start;
}

@mixin img-responsive{
    width: 100%;
    object-fit: contain;
}
.img-responsive{
    @include img-responsive();
}
.bg-light .img-responsive{
    @include img-responsive;
    height: 150px;
}
.align-items-center{
    display: flex;
    align-items: center;
}
.btn{
    margin: 3px;
    @include reset-a;
    background-color: $third-color;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    font-size: 13px;
    img{
        width: 15px;
        vertical-align: middle;
    }
    &:hover{
        color: white;
    }
}
.bg-light{
    background: $sixth-color;
}
.text-align-center{
    text-align: center;
}
.after-before .text-align-center img{
        width: 33%;
}

.middle{
    display: inline-block;
    vertical-align: middle;
}