$wrap : 1200px;
$primary-color: #252835;
$secondary-color: #7f14d4;
$third-color: #0414b3;
$fourth-color: #0e14ee;
$fifth-color: #3e14e9;
$sixth-color: #d6d8f5;
$spacing: 25px;
$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
